<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Food Trial Helper</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
</head>
<body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark navbarScroll">
        <div class="container">
            
                <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Food Trial Helper", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Foods", "Index", "Food")</li>

                        <li>@Html.ActionLink("Trials", "Index", "Trial")</li>
                        <li>@Html.ActionLink("Medicines", "Index", "Medicine")</li>

                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>


        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        
         
                <footer>
                    <ul>
                        <li>How to do a Food Trial</li>
                        <li>Additional Resources</li>
                        <li>Disclaimer</li>
                    </ul>
                    <center><p>&copy; @DateTime.Now.Year - Food Trial Application</p></center>
                </footer>
            
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
